# Supabase Configuration
VITE_SUPABASE_URL=https://zmetgcekjpxcboyrnhat.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptZXRnY2VranB4Y2JveXJuaGF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE3ODkyOTAsImV4cCI6MjA2NzM2NTI5MH0.Swr7n6k79dK8a7XpFadALQthq7eX5DRLR1-oJxwCswM

# API Configuration
VITE_API_URL=https://zmetgcekjpxcboyrnhat.supabase.co/rest/v1

# Development Configuration
VITE_APP_NAME=Litam
VITE_APP_VERSION=1.0.0
VITE_APP_ENV=development 